<%= form_with(model: coord) do |form| %>
  <% if coord.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coord.errors.count, "error") %> prohibited this coord from being saved:</h2>

      <ul>
        <% coord.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :school_id %>
    <%= form.text_field :school_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
